# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary and coverage
*.test
*.out
coverage.html

# Go build cache
vendor/
/vendor/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
